<ul class='group_list'>  
<% @groups.each do |group| -%>
	<li>
		<%= link_to group.title,group,:class=> 'title' %> <br />
		<div class='group_logo'>
		   <%= group_icon_for(group,'large')%> 
		</div>
		<%= truncate(h(group.description),:length => 40) %>
	</li> 
<% end -%>
<li class='new_group'>   
	<%=link_to :create_group.l, new_group_path,:class=> 'title'%> <br /> 
	<div class='group_logo'>
	<%=link_to image_tag("new_group.jpg"),new_group_path%>
	</div>
</li>                                 
</ul>