<dl class="<%=activity.item_type && activity.item_type.humanize.downcase%>">
	<div class='activity_user_avatar'>
		   <%=link_to image_tag(activity.user.avatar_photo_url(:thumb),:height => 48,:width=> 48),activity.user %> 
		</div>
	<dd id='activity-item'>
		<%=link_to activity.user.login.capitalize, user_path(activity.user.login_slug),:class => 'ag'%>
		<% if activity.item %>  
			<%case activity.item_type 
				when 'Post' %> 
				<%= :wrote_a_post.l %>
				<%= link_to activity.item.title, user_post_path(activity.item.user, activity.item)%>
			    <% when 'Photo' %>
				<%=:uploaded_a_photo.l%>
				<%= link_to image_tag(activity.item.public_filename(:thumb), :width => '50px'), user_photo_path(activity.item.user, activity.item)%>
				<% when 'Comment' %>
				<%=:left_a_comment.l%> 
				<%= link_to truncate_words(activity.item.comment), commentable_url(activity.item)%>
				<%  when 'Favorite' -%>
				<%=:favorited.l%>
				<%= link_to " a #{activity.item.favoritable.class.to_s.humanize.downcase}", user_favorite_path(activity.item.user, activity.item)%>
				<% when 'Invitation' %>
				<%=:invited_friends.l %>
				<% when 'WikiContent::Version' %>
				更新了资料库页面 <%=link_to "#{activity.item.page.pretty_title}",page_group_wiki_path(@group,:page => activity.item.page.pretty_title)%> 到版本<%= link_to "#{activity.item.version}", page_group_wiki_path(@group,:page => activity.item.page.pretty_title, :version => activity.item.version) %> 
				<% when 'Bookmark' %>
				添加了<%=link_to '书签',group_bookmark_path(@group,activity.item) %>
			<% else %>
				<%#=render :partial => 'shared/unhandled_item', :locals => {:activity => activity}%>
			 <% end %>
		 <% else %>
			<% case activity.action  when 'updated_profile' %>
			<%=:updated_their_profile.l%>
			<% when 'logged_in' %>
			<%=:logged_into_the_site.l %>
			<% when 'accept_member' %> 
			加入了本课堂,大家欢迎下!
			<% when 'kick_member' %>
			被踢出了课堂,我们鄙视他!
			<% when 'set_mod' %>
			被加为了管理员,大家鼓励下!
			<% else %>
			<%= " #{activity.action.sub("_", " ") }"%>
			<% end %>
	   <% end %> 
	<br /> 
	<span style='color:#999999'><%=time_ago_in_words_or_date(activity.created_at)%></span>
	 </dd>  
	
    <hr />
</dl>
