
<h3><%=:log_in_to_site.l(:site => AppConfig.community_name)%></h3>
<% form_tag sessions_path, :class => 'MainForm' do -%>
<p><label for="username"><%=:username.l%></label><br />
<%= text_field_tag 'login', nil, :size => 35%></p> 
<p><label for="password"><%=:password.l%></label><br />
<%= password_field_tag 'password', nil, :size => 35%></p>
<p><label for="remember_me"><%=:remember_me.l%><%= check_box_tag 'remember_me'%></label></p> 

<p>
   ...or use:
 </p>

 <p>
   <label for="openid_identifier">Sign in with your Gmail Account:</label>
   <%=link_to image_tag("google.png"),'/openids' %>
 </p>

<p><%= submit_tag :log_in.l %></p>
<% end -%>      



  

