<h3><%=:new_group.l%></h3>
<%= error_messages_for :group%>
<% form_for(:group, :url => groups_path, :html => {:class => "MainForm", :multipart => true } ) do |f| -%>
	<%= render :partial => 'form',:locals => { :f => f } %>
	<%= f.hidden_field(:created_by,:value => current_user.id)%> 
	<p><%= submit_tag :create.l%></p>
<% end -%>